:root{
--animationSpeed: 120s;
}
*{
  margin: 0;
  padding:0;
}
body {
  background-image: linear-gradient(45deg, #091A0B, #16401B);
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;

}
@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
/*Animation*/
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-150px * 6))}
}
/*Styling*/
.slider {
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1366px; 
}
&::before, &::after {
  @include white-gradient;
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
&::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
&::before {
  left: 0;
  top: 0;
}
.slide-track {
  animation: scroll var(--animationSpeed) linear infinite;
  display: flex;
  width: calc(500px * 16);
}
.slide {
  height: 40rem;  
  width: 250px;
}
.textimonial-warapper {
  background-color: #fff0;
  position: relative;
  border-radius: 5px;
  margin: 5px 10px;
}
.top-section {
  background-color: #fff;
  height: 80px;
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
  /*border-radius: 5px 5px 0px 0px;*/
}
.bottom-section {
  margin-top: 5px;
  background-color: #fff;
  text-align: center;
  padding: 56px 10px;
  /*border-radius: 0px 0px 5px 5px;*/
}
.image-setion {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -51px;
}
.image-setion img {
  position: absolute;
  height: 92px;
  border: 5px solid #0c2712;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}
.review-text {
  padding: 15px 10px;
  background-color: #e5e5e5;
  font-size: 14px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}
.review-text p {
  font-size: 13px;
  color: #2a2a2a;
}
.review-text h5 {
  font-size: 20px;
  text-transform: capitalize;
  color: #2a2a2a;
  margin-bottom: 5px;
}
.review-star ul {
  display: flex;
  justify-content: center;
}
.review-star ul li {
  list-style: none;
  padding: 0px 5px;
}
.review-star ul li img {
  width: 15px;
}
.review-text{
  position: relative;
}
.quots-icon-01 {
  position: absolute;
  top: 20px;
  width: 8px;
  transform: rotate(180deg);
  right: 45px;
}
.quots-icon-02 {
  position: absolute;
  top: 20px;
  width: 8px;
  left: 47px;
}
